*.aux
*.lof
*.log
*.out
*.gz
*.toc
*.bbl
*.blg
*.lot
ea/melka-bp.ldb
project/.idea/
project/target/
*.iml
files/
project/out/
deployment/deadlines-1.0.0.jar
deployment/deadlines-1.0.0.war
project/deadlines-testing.mv.db
project/src/main/resources/application.properties
